{% extends 'base.html' %}

{% block title %}
    Admin Zone
{% endblock %}

{% block content %}

    <div>
        <ul>
            <li>
                <a href="{{ url_for('download_file', filename='teams.csv') }}" download="teams.csv">Download Teams CSV</a>
            </li>
        </ul>
        
    </div>


    <div>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <button name="save_teams">Save Team to CSV</button>
            <button name="restore_teams">Restore Team in DB</button>
        </form>
    </div>

    {% if users %}
    <div>
        <ol>
        {% for user in users %}
            <li>Name: {{ user["name"] }}</li>
        {% endfor %}     
        </ol> 
    </div>
    {% endif %}
{% endblock %}