{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>

{% for message in get_flashed_messages(with_categories=true) %}
<p class="flash {{ message[0] }}">{{ message[1] }}</p>
{% endfor %}

{% endblock %}
