{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="remember_me">Stay Logged In</label>
    <input type="checkbox" id="remember_me" name="remember_me" value="yes">
    <button type="submit">Login</button>
</form>
{% endblock %}
