{% extends 'base.html' %}

{% block title %}
{% if edit %}
Edit Team
{% else %}
Add Team
{% endif %}
{% endblock %}

{% block content %}
<h2 class="page_header">
    {% if edit %}
    Edit Team

    {% else %}
    Add Team
    {% endif %}</h2>

<div>
    <form method="POST">
        {{ form.csrf_token }}

        <!-- Team's Name -->
        <p>
            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
                <span class="form_errors">{{ error }}</span>
            {% endfor %}
        </p>

        <!-- Team's Pokepaste -->
        <p>
            {{ form.pokepaste.label }}
            {{ form.pokepaste }}
            {% for error in form.pokepaste.errors %}
                <span class="form_errors">{{ error }}</span>
            {% endfor %}
        </p>

        <!-- Team's Archetype -->
        <p>
            {{ form.archetype.label }}
            {{ form.archetype }}
            {% for error in form.archetype.errors %}
                <span class="form_errors">{{ error }}</span>
            {% endfor %}
        </p>

        <!-- Team's Created at -->
        <p>
            {{ form.created_at.label }}
            {{ form.created_at }}
            {% for error in form.created_at.errors %}
                <span class="form_errors">{{ error }}</span>
            {% endfor %}
        </p>

        <!-- Team's Patreon Post -->
        <p>
            {{ form.patreon_post.label }}
            {{ form.patreon_post }}
            {% for error in form.patreon_post.errors %}
                <span class="form_errors">{{ error }}</span>
            {% endfor %}
        </p>

        <!-- Submit Button -->
        <p>
            {{ form.edit_submit(class="btn") if edit else form.submit(class="btn") }}
        </p>
    </form>
</div>

<a href="{{ url_for('games.games') }}">
    <button type="button">Cancel</button>
</a>
{% endblock %}