{% extends 'base.html' %}

{% block title %}
    Admin Zone
{% endblock %}

<h2 class="page_header">Admin Zone</h2>

{% block content %}
<nav>
    <ul>
        <li>
            <a href="{{ url_for('admin.banned_names_page') }}">Banned Names</a>
        </li>
    </ul>
</nav> 


{% if users %}
    <h2 class="section_header">All Users</h2>
    <div class="users_list_container">
        <ol class="users_list">
        {% for user in users %}
            <li class="user_item">
                <span class="user_name">Name: {{ user["name"] }}</span>
                <span class="user_role">| is_admin: {{ user["is_admin"] }}</span>
            </li>
        {% endfor %}     
        </ol> 
    </div>
    {% endif %}
{% endblock %}
