{% extends 'base.html' %}

{% block title %}
Banned Names Page
{% endblock %}

{% block content %}
<div class="add_banned_names_container">
    <form action="{{ url_for('admin.banned_names_page') }}" method="POST">
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
        </p>

        <p>
            {{ form.submit(class="btn") }}
        </p>
    </form>
</div>


<div class="banned_names_container">
    <h3>Banned Names List</h3>
    <ol>

        {% for banned_name in banned_names %}
        <li>
            {{ banned_name.name }}
        </li>

        {% endfor %}
    </ol>
</div>

{% endblock %}