<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pokémon PvP Teams{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='own_styles.css') }}?v={{ config['VERSION'] }}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png"> -->
</head>

<body>
    <!-- Header Container -->
    <header class="navbar">
        <!-- Logo Left side -->
        <div class="navbar__brand">
            <a href="{{ url_for('general.index') }}">
                <img src="{{ url_for('static', filename='images/log.png') }}" class="logo" alt="AFC Adinho Logo">
            </a>
        </div>
        <!-- Nav Link Middle -->
        <nav class="navbar__links">
            <ul>
                <li>
                    <a href="{{ url_for('general.index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('games.games') }}">Teams</a>
                </li>
                <li>
                    <a href="{{ url_for('general.about') }}">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                
                <!-- Admin -->
                {% if session["is_admin"] %}
                <li>
                    <a href="{{ url_for('admin.admin') }}">Admin</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <!-- Right Side -->
        <div class="user-info">
            {% if "user_id" in session %}
            <span>Currently logged in as: <strong> <a href="{{ url_for('profile.view_profile', user_id=session['user_id']) }}">{{ session["username"].title()}}</a>  </strong></span>
            {% endif %}
        </div>
        {% if "user_id" in session %}
        <form action="{{ url_for('auth.logout') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn cta-btn">Sign Out</button>
        </form>
        {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn cta-btn">Sign In</a>
        {% endif %}
    </header>

    <main>
        <h1 class="title-page">
        {% block title_page %}
        {% endblock %}
        </h1>    

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Pokémon PvP Teams. All rights reserved.</p>
        <p>This website is a personal hobby project created for learning and practice purposes.</p>
        <p>Feel free to explore, but please note that data and features may be temporary.</p>
        <a href="{{ url_for('legal.privacy_policy') }}">Privacy Policy</a> |
        <a href="{{ url_for('legal.terms_of_service') }}">Terms of Service</a>
    </footer>

    <!-- JavaScript for Delete Confirmation -->
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this?");
        }
    </script>
</body>

</html>