{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class="page_header">Welcome to my Website</h2>
<div class="video-container">
    <div class="video-wrapper">
        <iframe
            src="https://www.youtube.com/embed/rak1vVvetqo?si=c7s5JCcj1ucv9pAq"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
    </div>
</div>

{% endblock %}
