{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block title_page %}
    Login
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="login-container auth-form">
        <form action="{{ url_for('auth.login') }}" method="POST" novalidate>
            {{ form.csrf_token }}

            <!-- Username -->
            <p>
                {{ form.name.label }}<br>
                {{ form.name }}
            <ul class="errors">
                {% for error in form.name.errors %}
                {{ error }}
                {% endfor %}
            </ul>
            </p>

            <!-- Password -->
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}
            <ul class="errors">
                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}
            </ul>
            </p>

            <!-- Remember Me -->
            <div class="remember-me-container">
                {{ form.remember_me.label }}
                {{ form.remember_me(class="remember-me") }}
                <ul class="errors">
                    {% for error in form.remember_me.errors %}
                    {{ error }}
                    {% endfor %}
                </ul>
            </div>

            <!-- Submit -->

                {{ form.submit(class="btn") }}
            <ul class="errors">
                {% for error in form.name.errors %}
                {{ error }}
                {% endfor %}
            </ul>
            <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a></p>
        </form>
    </div>
</section>
{% endblock %}