{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="page_header">Login</h2>

<div>
    <form action="{{ url_for('auth.login') }}" method="POST" novalidate>
        {{ form.csrf_token }}

        <!-- Username -->
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}
        <ul class="errors">
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
        </ul>
        </p>

        <!-- Password -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}
        <ul class="errors">
            {% for error in form.password.errors %}
            {{ error }}
            {% endfor %}
        </ul>
        </p>

        <!-- Remember Me -->
        <p>
            {{ form.remember_me.label }}<br>
            {{ form.remember_me }}
        <ul class="errors">
            {% for error in form.remember_me.errors %}
            {{ error }}
            {% endfor %}
        </ul>
        </p>

        <!-- Submit -->
        <p>
            {{ form.submit(class="btn") }}
        <ul class="errors">
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
        </ul>
        </p>
    </form>
</div>

<hr>
<p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a></p>
<p>Return to <a href="{{ url_for('general.index') }}">Home</a></p>
{% endblock %}