{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
<h2 class="page_header">Sign Up</h2>
<p>This platform is for learning and practice purposes only. Please keep the following in mind:</p>
<ul>
    <li>Do not use real or sensitive passwords.</li>
    <li>Accounts and data are temporary and will be regularly cleared.</li>
</ul>

<form method="POST" action="{{ url_for('auth.signup') }}">
    <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
    
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Create Account</button>
</form>
{% endblock %}
