{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block title_page %}
    Your Search Results for filtered Teams
{% endblock %}

{% block content %}
<section class="pokemon-teams-section">
    <div class="pokemon-teams-container">
        {% if teams %}
        <ul class="pokemon-teams__list">
            {% for team in teams %}
            <li>
                <img src="{{ team.pokemon[0].sprite }}" 
                     class="pokemon-sprite" 
                     alt="Pokemon sprite for {{ team.pokemon[0].name }}">
                
                <a href="{{ url_for('teams.view_team', team_id=team.id) }}">{{ team.name }}</a> 

                <p>{{ team.archetype }}</p>
                <p>Posted: {{ team.created_at.strftime('%d-%m-%Y') }}</p>

                {% if team.patreon_post %}
                <img src="https://static.vecteezy.com/system/resources/previews/027/127/500/non_2x/patreon-logo-patreon-icon-transparent-free-png.png" 
                     class="small_patreon_logo" 
                     alt="Patreon Exclusive">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No teams match the selected filters.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
